In [11]:
import pandas as pd
import numpy as np
import matplotlib as plt
import autopep8

In [5]:
df2 = pd.read_csv('data/ma_lga_12345.csv')
df = pd.read_csv('data/raw_sales.csv')

読み込みデータはある特定の地域について、2007年から2019年の不動産販売データ  
ma_lga_12345.csvは、生販売データを変換し、中央値価格集計とステップ4移動平均平滑化により四半期間隔で再サンプリングしたもの  
raw_sales.csvは、2007年から2019年までの住宅販売データが入っている  

お題として、各物件タイプと寝室数の将来8四半期を予測するために、どのようなモデルを使用するのか、  
VARMAXファミリーの伝統的な多変量予測モデルや多変量回帰は、この問題に対してLSTM、DLM、RNNネットワークより優れているかを検証することが挙げられている

In [6]:
df.head()

              datesold  postcode   price propertyType  bedrooms
0  2007-02-07 00:00:00      2607  525000        house         4
1  2007-02-27 00:00:00      2906  290000        house         3
2  2007-03-07 00:00:00      2905  328000        house         3
3  2007-03-09 00:00:00      2905  380000        house         4
4  2007-03-21 00:00:00      2906  310000        house         3

In [7]:
df2.head()

     saledate      MA   type  bedrooms
0  30/09/2007  441854  house         2
1  31/12/2007  441854  house         2
2  31/03/2008  441854  house         2
3  30/06/2008  441854  house         2
4  30/09/2008  451583  house         2

df  
datesold:saledateと同じ内容?  
postcode:郵便番号  
price:値段(おそらくドル)  
properyType:家の種類?  
bedrooms:寝室の数  

df1  
saledate:販売日時 (日/月/年)  
MA:？？？  
type:家の種類？  
bedrooms:寝室の数

In [9]:
len(df)

29580

In [10]:
len(df2)

347